*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
ul,ol{
    list-style-type:none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.gal-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.gal-item{
    width: 370px;
    height: 300px;
    background-color: red;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
}
.gal-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.gal-item .overlay{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color:rgba(0, 0, 0, 0.673);
    width: 100%;
    height: 100%;
   transition: all linear 0.3s;
   display: flex;
   align-items: center;
   justify-content: center;
}
.gal-item:hover .overlay{
    opacity: 1;
}
.icon-box{
    width: 40px;
    height: 40px;
    background-color: purple;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-box i{
    color: #fff;
}
/* -------------venu box------------ */

.vedio-main{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-color: red;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-btn{
    width: 60px;
    height: 60px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-btn i{
    font-size: 30px;
    color: #fff;
}
.vbox-content{
    width: 1000px;
    margin: 0 auto;

}
/* -------------vedio-main----------- */
/* -------------venu box------------ */